header {
    @include centrage;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);

    .header__logo {
        font-family: 'Shrikhand', sans-serif;
    }
}