body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

body, html {
  font-family: "Roboto", sans-serif;
}

h1, span, p {
  font-family: "Roboto", sans-serif;
}

#cards_fonctionnement {
  background-color: #f6f6f6;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  height: 70px;
  flex: 1;
  border-radius: 1.25rem;
  margin-right: 20px;
  margin-bottom: 20px;
}

#cards_menu {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  height: 400px;
  width: 46%;
  border-radius: 1.25rem;
  margin-right: 50px;
  margin-bottom: 50px;
  transition: all 0.5s ease;
  cursor: pointer;
}

#cards_menu:hover {
  transform: scale(1.05);
}

#button {
  background-color: #FF79DA;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  border-radius: 20px;
  color: white;
  margin-bottom: 50px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
header .header__logo {
  font-family: "Shrikhand", sans-serif;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #353535;
}
footer #footer-content {
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
}
footer #footer-content .footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
}
footer #footer-content .proposition {
  margin-top: 20px;
  display: flex;
}
footer #footer-content .proposition .footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
footer #footer-content .proprietaire {
  display: flex;
}
footer #footer-content .proprietaire .footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
footer #footer-content .mention {
  margin-bottom: 15px;
}

#localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 20px;
}
#localisation__icone {
  padding-right: 15px;
}
#localisation__descriptif {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#decouvrer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
}
#decouvrer__titre {
  text-align: center;
}
#decouvrer__soustitre {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

#fonctionnement {
  margin-left: 20px;
  margin-bottom: 50px;
}
#fonctionnement .card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#fonctionnement .card-list .habillage {
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  margin-top: 25px;
  margin-right: 10px;
}
#fonctionnement .card-list .numerotation {
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#fonctionnement .card-list .fonctionnement__icone {
  margin-left: 10px;
  padding: 30px;
  color: grey;
}

#restaurants {
  padding-left: 20px;
  padding-top: 50px;
  background-color: #eaeaea;
}
#restaurants .card-list-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#restaurants .card-list-menu .card-img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
}
#restaurants .card-list-menu .card-body {
  width: 92%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
#restaurants .card-list-menu .card-body .description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: -10px;
}
#restaurants .card-list-menu .card-body .icone {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
