@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes scaling {
  0%, 100% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-0.5rem);
    opacity: 1;
  }
}
@keyframes animate-button {
  0% {
    opacity: 1;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  }
  100% {
    opacity: 0.8;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }
}
@keyframes confirm {
  from {
    width: 0;
  }
  to {
    width: 4em;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

body, html {
  font-family: "Roboto", sans-serif;
}

h2, span, p {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  font-family: "Shrikhand", sans-serif;
}

.menu__title {
  font-family: "Shrikhand", sans-serif;
}
@media screen and (max-width: 1023px) {
  .menu__title {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .menu__title {
    font-size: 25px;
    margin-top: 10px;
  }
}

.description__subtitle {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}

.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
}

.cards_fonctionnement {
  background-color: #f6f6f6;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  height: 70px;
  width: 31.2%;
  border-radius: 1.25rem;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}
.cards_fonctionnement span {
  font-weight: bold;
}
.cards_fonctionnement:hover {
  background-color: #f2eafb;
  transition: all 450ms;
  cursor: pointer;
}
.cards_fonctionnement:hover .icone__fonctionnement {
  color: #9356DC;
}
@media screen and (max-width: 1023px) {
  .cards_fonctionnement {
    width: 100%;
    margin-right: 0;
  }
  .cards_fonctionnement span {
    font-weight: bold;
    font-size: 0.85em;
  }
}

.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1023px) {
  .card-list {
    justify-content: space-between;
  }
}

.cards_menu {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  height: 400px;
  width: 44.5%;
  border-radius: 1.25rem;
  margin-right: 5%;
  margin-bottom: 50px;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 767px) {
  .cards_menu {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
    height: 300px;
    width: 100%;
    border-radius: 1.25rem;
    margin-right: 0;
  }
}
.cards_menu:hover {
  transform: scale(1.05);
}
.cards_menu .card-img {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 70%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.cards_menu .card__macaron {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  padding: 9px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
@media screen and (max-width: 767px) {
  .cards_menu .card__macaron {
    top: 10px;
    right: 10px;
  }
}
.cards_menu .card-body {
  width: 92%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.cards_menu .card-body .description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 0.8em;
}
.cards_menu .card-body .description h2 {
  line-height: 0.5em;
}
.cards_menu .card-body .description span {
  font-size: 1.3em;
}
@media screen and (max-width: 767px) {
  .cards_menu .card-body .description {
    margin-left: 10px;
  }
  .cards_menu .card-body .description h2 {
    line-height: 0.2em;
  }
}
@media screen and (max-width: 1023px) {
  .cards_menu .card-body .description {
    margin-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .cards_menu {
    margin-bottom: 20px;
  }
}

.delay--0 {
  animation-delay: 0s !important;
}

.delay--1 {
  animation-delay: 0.3333333333s !important;
}

.delay--2 {
  animation-delay: 0.6666666667s !important;
}

.delay--3 {
  animation-delay: 1s !important;
}

.cards {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  height: 70px;
  width: 100%;
  border-radius: 1.25rem;
  margin-right: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  animation: fadein 1s both;
  position: relative;
}
.cards__description {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 300px;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cards__description h4 {
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .cards__description {
    font-size: 1em;
  }
}
@media screen and (max-width: 767px) {
  .cards__description {
    width: 267px !important;
    font-size: 0.97em;
  }
}
.cards__prix {
  margin-right: 9.5rem;
  margin-top: 1em;
  font-weight: bold;
}
@media screen and (max-width: 1023px) {
  .cards__prix {
    margin-right: -3rem;
    margin-left: 3rem;
    margin-top: 1em;
  }
}
@media screen and (max-width: 767px) {
  .cards__prix {
    margin-right: 2.6rem;
    margin-left: -2.7rem;
    margin-top: 1.2em;
  }
}
@media screen and (max-width: 350px) {
  .cards__prix {
    margin-right: 4.2rem;
    margin-left: -2.2rem;
    margin-top: 1em;
  }
}
@media screen and (max-width: 767px) {
  .cards:hover > .cards__description {
    width: 210px !important;
    margin-right: 1.5rem;
  }
}
.cards:hover > .cards__confirmation {
  width: 4rem;
  animation: confirm 0.5s;
  transform: scaleX(1);
  margin-left: -7rem;
}
@media screen and (max-width: 767px) {
  .cards:hover > .cards__confirmation {
    margin-left: -3rem;
  }
}
.cards:hover > .cards__confirmation i {
  animation: rotate 0.5s;
}
.cards__confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  height: 100%;
  width: 0;
  margin-left: -9rem;
  border-radius: 0 1.25rem 1.25rem 0;
  transform: scaleX(0);
  transform-origin: right;
}
@media screen and (max-width: 767px) {
  .cards__confirmation {
    margin-left: -5.6rem;
  }
}
.cards__confirmation .icon_confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #99E2D0;
  position: relative;
}

#button {
  background-color: #FF79DA;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 200px;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  color: white;
  margin-bottom: 50px;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  cursor: pointer;
}
#button:hover {
  animation: animate-button 1000ms;
}

.icone__localisation {
  padding-right: 15px;
}

.icone__fonctionnement {
  margin-left: 10px;
  padding: 30px;
  color: grey;
}

.icone__favoris {
  cursor: pointer;
  font-size: 30px;
  padding-top: 0.7em;
  padding-right: 10px;
}
.icone__favoris:hover {
  animation: fill 0.3s ease-in-out;
  background: linear-gradient(to left, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .icone__favoris {
    font-size: 25px;
    padding-right: 10px;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
header .header__arrow {
  position: absolute;
  left: 30px;
  top: 40px;
}

.container {
  max-width: 1300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1023px) {
  .container {
    max-width: 1023px;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

footer {
  width: 100%;
  height: 100%;
  background-color: #353535;
}
footer #footer-content {
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
}
footer #footer-content .footer__couleur {
  color: white;
  text-decoration: dashed;
}
footer #footer-content .proposition {
  margin-top: 20px;
  display: flex;
}
footer #footer-content .proposition .footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
footer #footer-content .proprietaire {
  display: flex;
}
footer #footer-content .proprietaire .footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
footer #footer-content .mention {
  margin-top: -2px;
}
footer #footer-content .lien:hover {
  text-decoration: underline;
  color: white;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  animation: loader 0.01s 1.75s both;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loader .group__Pulse {
  display: flex;
}
#loader .group__Pulse .dot-Pulse {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #9356DC;
  display: inline-block;
  margin: 0.3rem;
  animation: scaling 2.5s ease-in-out infinite;
}
#loader .group__Pulse .delay__Pulse--0 {
  animation-delay: 0s !important;
}
#loader .group__Pulse .delay__Pulse--1 {
  animation-delay: 0.1s !important;
}
#loader .group__Pulse .delay__Pulse--2 {
  animation-delay: 0.2s !important;
}

#localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 20px;
  height: 20px;
}
#localisation__descriptif {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#decouvrer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
}
#decouvrer__titre {
  text-align: center;
  width: 75%;
}
#decouvrer__soustitre {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  width: 75%;
}

#fonctionnement {
  margin-bottom: 50px;
}
#fonctionnement .habillage {
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  margin-top: 25px;
  margin-right: 10px;
  left: -10px;
}
#fonctionnement .numerotation {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

#restaurants {
  padding-left: 20px;
  padding-top: 50px;
  background-color: #eaeaea;
}
@media screen and (max-width: 767px) {
  #restaurants {
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

.img-banniere {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 500px;
  width: 100%;
  border-radius: 0;
}

#menu {
  margin-top: -4rem;
  background-color: #f6f6f6;
  position: relative;
  padding: 20px;
  border-radius: 50px 50px 0 0;
}
#menu__header {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
}
#menu__body {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  #menu__body {
    display: flex;
    flex-direction: column;
  }
}
#menu__body .description {
  display: flex;
  flex-direction: column;
  width: 30%;
}
@media screen and (max-width: 1023px) {
  #menu__body .description {
    width: 100%;
  }
}
#menu__body .description__decoration {
  padding-bottom: 8px;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}
#menu .commander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
