.cards_fonctionnement {
    @include card(#f6f6f6, 70px, 31.2%);
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;

    span {
        font-weight: bold;
    }

    &:hover {       
        background-color: #f2eafb;
        transition: all 450ms;
        cursor: pointer;

        .icone__fonctionnement {
            color: $couleur-primaire;
        }
    }

    @include tablet-only{
        width: 100%;
        margin-right: 0;

        span {
            font-weight: bold;
            font-size: 0.85em;
        }
    }

}

.card-list {
    @include centrage;
    flex-wrap: wrap;

    @include tablet-only{
        justify-content: space-between;
    }
}

.cards_menu {
    @include card(white, 400px, 44.5%);
    margin-right: 5%;
    margin-bottom: 50px;
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative;

    @include mobile-only{
        @include card(white, 300px, 100%);
        margin-right: 0;
    }

    &:hover {
        transform:scale(1.05);
    }

    .card-img {
        @include img(70%, 100%, 20px 20px 0 0);
    }

    .card__macaron {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: $couleur-tertiaire;
        padding: 9px;
        font-size: 15px;
        border-radius: 5px;
        box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);

        @include mobile-only{
            top: 10px;
            right: 10px;
        }
    }
    
    .card-body {
        width: 92%;
        padding: 16px;
        display: flex;
        justify-content: space-between;
    
        .description {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            font-size: 0.8em;
            margin-top: -10px;
            
            @include mobile-only{
                margin-left: 10px;

                h1 {
                    line-height: .5em;
                }

            }

            @include tablet-only{
                margin-left: 10px;

            }
        }
        
    }

    @include mobile-only{
        margin-bottom: 20px;
    }

}

@for $i from 0 to 4 {
    .delay--#{$i} {
      animation-delay:  #{$i/3}s!important;
    }
}

.cards {
    @include card(white, 70px, 100%);
    margin-right: 50px;
    margin-bottom: 20px;
    @include centrage;
    justify-content: space-between;
    animation: fadein 1s both;
    position: relative;

    &__description {
        margin-left: 20px;
        margin-bottom: 20px;
        width: 300px;
        font-size: 0.9em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        h4 {
            margin-bottom: 0;
        }

        @include tablet-only{
            font-size: 1em;
        }

        @include mobile-only{
            width: 250px!important;
            font-size: 1em;
        }

    }

    &__prix {
        margin-right: 9rem;
        margin-top: 1em;
        font-weight: bold;

        @include tablet-only{
            margin-right: -3rem;
            margin-left: 3rem;
            margin-top: 1em;
        }

        @include mobile-only{
            margin-right: 3rem;
            margin-left: -2rem;
            margin-top: 1em;
        }

        @include small-mobile{
            margin-right: 6rem;
            margin-left: -2rem;
            margin-top: 1em;
        }
    }

    &:hover > .cards__description {
        @include mobile-only{
            margin-right: 4rem!important;
            width: 150px!important;
        }
    }

    &:hover > .cards__confirmation{
        width: 4rem;
        animation: confirm 0.5s;
        transform: scaleX(1);
        margin-left: -7rem;

        @include mobile-only{
            margin-left: -3rem;
        }

        i {
            animation: rotate 0.5s;
        }
    }

    &__confirmation {
        @include centrage;
        background-color: $couleur-tertiaire;
        height: 100%;
        width: 0;
        margin-left: -9rem;

        @include mobile-only{
            margin-left: -5.6rem;
        }

        border-radius: 0 1.25rem 1.25rem 0;
        transform: scaleX(0);
        transform-origin: right;

        .icon_confirm {
            @include centrage;
            border-radius: 1.25rem;
            width: 30px;
            height: 30px;
            background-color: white;
            color: $couleur-tertiaire;
            position: relative;
            
        }
    }
}