body, html {
    font-family: 'Roboto', sans-serif;
}

h1, span, p {
    font-family: 'Roboto', sans-serif;
}

.header__logo {
    font-family: 'Shrikhand', sans-serif;
}

.menu__title {
    font-family: 'Shrikhand', sans-serif;
}

.description__subtitle {
    font-family: 'Roboto', sans-serif;
}

.footer__logo {
    font-family: 'Shrikhand', sans-serif;
    font-size: 20px;
}