#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    border-radius: 5px;
    background-color: hsla(0,0%,100%,.8);
    animation: loader .01s 1.75s both;
    @include centrage;
    flex-direction: column;
}

.dot-Pulse {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $couleur-primaire;;
    display: inline-block;
    margin: .3rem;
    animation: scaling 2.5s ease-in-out infinite;
}

.dot-Pulse--01 {
    animation-delay: .2s!important;
}

.dot-Pulse--02 {
    animation-delay: .5s!important;
}

.dot-Pulse--03 {
    animation-delay: 1s!important;
}


#localisation {
    @include centrage;
    background-color: #eaeaea;
    padding: 20px;
            
    &__icone {
        padding-right: 15px;
    }

    &__descriptif {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
}

#decouvrer {
    @include centrage;
    flex-direction: column;
    background-color: #f6f6f6;

    &__titre {
        text-align: center;
        width: 75%;
    }

    &__soustitre {
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
    }
}

#fonctionnement {
    margin-bottom: 50px;

    .habillage {
        width: 20px;
        height: 20px;
        background-color: $couleur-primaire;
        border-radius: 50%;
        position: absolute;
        margin-top: 25px;
        margin-right: 10px;
        left: -10px;
    }

    .numerotation {
        @include centrage;
        color: white;
        position: relative;
    }

}

#restaurants {
    padding-left: 20px;
    padding-top: 50px;
    background-color: #eaeaea;

    @include mobile-only{
        padding-left: 0;
        padding-top: 30px;
        padding-bottom: 50px;
    }

}