main {
    #localisation {
        @include centrage;
        background-color: #eaeaea;
        padding: 20px;
            
        &__icone {
            padding-right: 15px;
        }

        &__descriptif {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
    }

    #decouvrer {
        @include centrage;
        flex-direction: column;
        background-color: #f6f6f6;

        &__titre {
            text-align: center;
        }

        &__soustitre {
            font-size: 18px;
            margin-bottom: 20px;
            text-align: center;
        }

        &__button {
            background-color: $couleur-secondaire;
            background: linear-gradient($couleur-secondaire, $couleur-primaire);
            padding: 15px;
            border-radius: 20px;
            color: white;
            margin-bottom: 50px;
        }
    }
}