.img-banniere {
    @include img(500px, 100%, 0);
}

#menu {
    margin-top: -4rem;
    background-color: #f6f6f6;
    position: relative;
    padding: 20px;
    border-radius: 50px 50px 0 0;

    &__header {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        .menu__icone {
            @include centrage;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        @include tablet-only{
            display: flex;
            flex-direction: column;
        }

        .description {
            display: flex;
            flex-direction: column;
            width: 30%;

            @include tablet-only{
                width: 100%;
            }

            &__decoration {
                padding-bottom: 8px;
                border-bottom: 3px solid $couleur-tertiaire;
                width: 50px;
            }

        }

        .choix {
            margin-left: 20px;
            margin-bottom: 20px;

            h4 {
                margin-bottom: 0;
            }

        }

        .prix {
            margin-right: 15px;
            font-weight: bold;
        }
    }

    #commander {
        @include centrage;
        margin-top: 50px;
    }
}