@keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes scaling{
    0%, 100%{
        transform: scale(0.5);
        opacity: 0.5;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(-0.5rem);
        opacity: 1;
    }
}

@keyframes confirm {
    from {
        width: 0;
    }
    to {
        width: 4em;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}