@mixin centrage {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card($background-color, $height, $width) {
    background-color: $background-color;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    height: $height;
    width: $width;
    border-radius: 1.25rem;
}

@mixin img($height, $width, $border) {
    display: block;
    object-fit: cover;
    object-position: center;
    height: $height;
    width: $width;
    border-radius: $border;
}

@mixin bouton {
    background-color: $couleur-secondaire;
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    padding: 25px;
    border-radius: 20px;
    color: white;
    margin-bottom: 50px;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    font-weight: bold;
}

@mixin fill-heart {
    animation: fill 0.3s ease-in-out;
    background: linear-gradient(to left, $couleur-secondaire, $couleur-primaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: bold;
}

// media query

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin tablet-only {
    @media screen and (max-width: map-get($breakpoints, tablette)){
        @content;
    }
}

@mixin deskstop-only {
    @media screen and (max-width: map-get($breakpoints, deskstop)){
        @content;
    }
}